div#setup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#setup form div {
  padding: 1rem 0;
}

div#setup label,
div#setup input {
  display: block;
}
