@import '../../vars.scss';

#app {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

section#main-content {
  position: absolute;
  top: 0;
  left: $aside-width;
  width: calc(100vw - $aside-width);
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

section#main-content > div {
  width: calc(100vw - $aside-width / 3);
  height: calc(100vh / 2);
}

div.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.row.center {
  justify-content: center;
}

div.row.right {
  justify-content: flex-end;
}

@media (max-width: $bp-lg) {
  section#main-content {
    left: 0;
    width: 100vw;
  }
}
