$background: #333333;
$background-light: #555555;
$main-text: #d3d3d3;
$secondary-text: #dedede;
$primary: #525174;
$secondary: #513b56;
$tertiary: #238056;
$highlight: #00a5cf;
$tertiary-dark: #1f704b;

$aside-width: 20vw;

$gold: #edb320;
$silver: #98999a;
$copper: #9b581c;

$bp-xl: 1400px;
$bp-lg: 1000px;
$bp-md: 600px;
$bp-sm: 400px;
